In [1]:

import numpy as np 
import pandas as pd

In [2]:

data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [12]:
# Group by Category and calculate the sum of Sales
cat = df.groupby("Store")
for i,v in cat:
    print(i)
    print(v)
# i → tells you which category (like "A", "B", "C").
# v → gives you a DataFrame of all rows belonging to that group.

S1
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
4        A    S1    120         8 2023-01-05
7        B    S1    300        25 2023-01-08
S2
  Category Store  Sales  Quantity       Date
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07

In [13]:
cat = df.groupby("Category")['Sales'].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [14]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [15]:
# Group by Store and calculate the sum of Sales

In [16]:
c = df.groupby('Store')['Quantity'].sum()
c

Store
S1    58
S2    65
Name: Quantity, dtype: int64

In [ ]:
c = df.groupby('Store')['Sales'].sum()
c

In [ ]:
df

In [ ]:
# Group by multiple columns
# Group by Category and Store
cat = df.groupby(['Category','Store'])['Sales'].sum()
cat

# Aggregation

In [ ]:
df['Sales'].mean()
"""mean median min max count std """

In [ ]:
df['Sales'].agg(['sum', 'mean', 'min', 'max', 'count', 'std', 'median'])

In [ ]:
top_Values = df.nlargest()

In [24]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [26]:
top_5_Sales = df.nlargest(5,'Sales')
top_5_Sales

  Category Store  Sales  Quantity       Date
7        B    S1    300        25 2023-01-08
3        B    S2    250        18 2023-01-04
1        B    S1    200        15 2023-01-02
6        A    S2    200        15 2023-01-07
5        B    S2    180        20 2023-01-06